<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset 'css/default.min.css'}}">
    <!-- 管理后台自定义head -->
    {{ghost_head}}
</head>
<body class="{{body_class}}">
{{{body}}}
<script src="{{asset 'js/index.min.js'}}"></script>
{{#is 'post'}}
    <script src="{{asset 'js/post.js'}}"></script>
{{/is}}
{{#if @page.show_title_and_feature_image}}
{{/if}}
<script>

</script>
{{ghost_foot}}
</body>
</html>